[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
py-applescript = "==1.0.1"
pyobjc = "==4.2.2"
rumps = "==0.3.0"
pylast = "*"
appdirs = "*"

[requires]
python_version = "3.7"
